@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  display: flex;
  font: 16px/1.6 "Roboto Mono", monospace;
  width: 100vw;
  height: 100vh;
  background-color: #4A304D;
}

.card-header-background,
.card-body-background,
.card-footer-background {
  padding: 0.5em;
  width: 90%;
  border-radius: 2em;
  border: 5px solid #fa9c58;
  background-color: #FFB37B;
}

.card {
  display: flex;
  flex-direction: column;
  width: 40em;
  align-items: center;
  padding: 1.5em 0;
  gap: 1.5em;
  margin: auto;
  background-color: #B17179;
  border-radius: 2em;
  border: 5px solid rgb(179, 88, 88);
  box-shadow: 0px 16px 31px 2px rgba(0, 0, 0, 0.78);
}

.card-header {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 1em;
  align-items: center;
}

.upload-btn {
  padding-left: 4em;
}

.flip-btn,
.play-both-btn,
.upload-btn::file-selector-button {
  padding: 0.5em 1em;
  border-radius: 2em;
  width: 8em;
  background-color: #88588e;
  color: #ecf0f1;
  cursor: pointer;
  border: 3px solid #813c8a;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
}

.card-footer {
  padding: 0.5em;
  font-size: 15px;
}

.card-header h2 {
  text-align: center;
  padding: 0.5em;
}

.card-body audio {
  border: 3px solid rgb(201, 108, 214);
  border-radius: 2em;
}

.card-footer p span {
  text-align: center;
  font-style: italic;
  color: #5f1169;
}

.flip-btn:hover,
.play-both-btn:hover,
.upload-btn::file-selector-button:hover {
  background-color: #c681cf;
  color: black;
  border-color: #c657d4;
}

.upload-btn::file-selector-button {
  margin-right: 1em;
}

.card-body audio::-webkit-media-controls-panel {
  background-color: #cb99d2;
}
